@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300;400;500;600;700;800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.carousel-item {
    height: 500px !important;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}

.arvo{
    font-family: "Arvo";
}

.poppins{
    font-family: "poppins"
}

p {
    font-family: "poppins";
}

